./bookmarks
./recentf
./request
./.trello
./eshell
./tramp
./irony
./ido.last
./xkcd
./elpa
./var
./url
./.sx
./projectile.cache
./project-explorer-cache
./jabber-history
./.python-environments
./.emacs.desktop
./vimish-fold
./smex-items
./jabber-avatar-cache
./.emacs.desktop.lock
./.mc-lists.el
./ac-comphist.dat
./auto-save-list
./srecode-map.el
./.mc-lists.elc
/.emacs.desktop
/.emacs.desktop.lock
/.mc-lists.el
/.mc-lists.elc
/.python-environments/default/.Python
*.csh
*.fish
*.py
*.7
/*.json
/ac-comphist.dat
/bookmarks
/elpa/auctex-11.88.9/context-en.elc
/ido.last
/recentf
/smex-items
