elpa/*
backups/*
auto-save-list/*
undohist/*
abbrev_defs
custom.el
history
recentf
smex-items
projectile-bookmarks.eld
/GPATH
/GRTAGS
/GTAGS
/desktops/*
/var/*
/vimish-fold/*
.python-environments/*
/srecode-map.el
/eshell/*
/bookmarks
anaconda-mode/*
irony/*
/ac-comphist.dat
.trello/*
/request/*
/config/GPATH
/config/GRTAGS
/config/GTAGS
/.org-id-locations
/tramp
/semanticdb/*
/projectile.cache
/eclipse.jdt.ls/*
/ycmd/*
/cquery/*
