html {
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}

body {
  margin:0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section, summary {
  display:block
}

audio,canvas,progress, video {
  display:inline-block;
  vertical-align:baseline
}

audio:not([controls]) {
  display:none;
  height:0
}

[hidden], template {
  display:none
}

a {
  background-color:transparent
}

a:active, a:hover {
  outline:0
}

abbr[title] {
  border-bottom:1px dotted
}

b, strong {
  font-weight:700
}

dfn {
  font-style:italic
}

h1 {
  font-size:2em;
  margin:.67em 0
}

mark {
  background:#ff0;
  color:#000
}

small {
  font-size:80%
}

sub, sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}

sup {
  top:-.5em
}

sub {
  bottom:-.25em
}

img {
  border:0
}
svg:not(:
        root) {
  overflow:hidden
}

figure {
  margin:1em 40px
}

hr {
  box-sizing:content-box;
  height:0
}

pre {
  overflow:auto
}

code,kbd,pre, samp {
  font-family:monospace;
  font-size:1em
}

button,input,optgroup,select, textarea {
  color:inherit;
  font:inherit;
  margin:0
}

button {
  overflow:visible
}

button, select {
  text-transform:none
}

button,html input[type=button],input[type=reset],input[type=submit] {
  -webkit-appearance:button;
  cursor:pointer
}

button[disabled],html input[disabled] {
  cursor:default
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border:0;
  padding:0
}

input {
  line-height:normal
}

input[type=checkbox],input[type=radio] {
  box-sizing:border-box;
  padding:0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  height:auto
}

input[type=search] {
  -webkit-appearance:textfield;
  box-sizing:content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
  -webkit-appearance:none
}

fieldset {
  border:1px solid silver;
  margin:0 2px;
  padding:.35em .625em .75em
}

legend {
  border:0;
  padding:0
}

textarea {
  overflow:auto
}

optgroup {
  font-weight:700
}

table {
  border-collapse:collapse;
  border-spacing:0
}

td, th {
  padding:0
}

body {
  width:95%;
  margin:2%;
  font:normal normal normal 16px/1.6em Open Sans,sans;
  color:#333
}

@media (min-width:
        1025px) {

  body {
    width:800px;
    margin-left:160px
  }
}
.title {
  padding:.5em 0;
  color:#000
}

.subtitle,.title {
  text-align:center
}

.subtitle {
  font-size:medium;
  font-weight:700
}

.abstract {
  margin:auto;
  width:80%;
  font-style:italic
}

.abstract p:last-of-type:before {
  content:"    ";
  white-space:pre
}

.status {
  font-size:90%;
  margin:2em auto
}

[class^=section-number-] {
  margin-right:.5em
}

#footnotes {
  font-size:90%
}

.footpara {
  display:inline;
  margin:.2em auto
}

.footdef {
  margin-bottom:1em
}

.footdefsup {
  padding-right:.5em
}

a {
  color:#527d9a;
  text-decoration:none
}

a:hover {
  color:#035;
  border-bottom:1px dotted
}

img {
  max-width:100%;
  vertical-align:middle
}

.MathJax_Display {
  margin:0!important;
  width:90%!important
}

h1,h2,h3,h4,h5,h6 {
  color:#a5573e;
  line-height:1.6em;
  font-family:Droid Serif,serif
}

h4,h5,h6 {
  font-size:1em
}

dt {
  font-weight:700
}

table {
  margin:auto;
  border-top:2px solid;
  border-collapse:collapse
}

table, thead {
  border-bottom:2px solid
}

table td+td,table th+th {
  border-left:1px solid gray
}

tabletr {
  border-top:1px solid #d3d3d3
}

td, th {
  padding:5px 10px;
  vertical-align:middle
}

caption.t-above {
  caption-side:top
}

caption.t-bottom {
  caption-side:bottom
}

th.org-center,th.org-left,th.org-right {
  text-align:center
}

td.org-right {
  text-align:right
}

td.org-left {
  text-align:left
}

td.org-center {
  text-align:center
}

code {
  padding:2px 5px;
  margin:auto 1px;
  border:1px solid #ddd;
  border-radius:3px;
  background-clip:padding-box;
  color:#333;
  font-size:90%
}

blockquote {
  margin:1em 2em;
  padding-left:1em;
  border-left:3px solid #ccc
}

kbd {
  background-color:#f7f7f7;
  font-size:90%;
  margin:0 .1em;
  padding:.1em .6em
}
.
figure {
  padding:1em
}
.figure
p {
  text-align:center
}
.
todo {
  color:red
}
.done,.
todo {
  font-family:monospace
}
.
done {
  color:green
}
.
priority {
  color:orange
}
.priority,.
tag {
  font-family:monospace
}
.
tag {
  background-color:#eee;
  font-size:80%;
  font-weight:400;
  padding:2px
}
.
timestamp {
  color:#bebebe
}
.timestamp-
kwd {
  color:#5f9ea0
}
.org-
right {
  margin-left:auto;
  margin-right:0;
  text-align:right
}
.org-
left {
  margin-left:0;
  margin-right:auto;
  text-align:left
}
.org-
center {
  margin-left:auto;
  margin-right:auto;
  text-align:center
}
.
underline {
  text-decoration:underline
}
#postamble p,#preamble
               p {
  font-size:90%;
  margin:.2em
}
p.
verse {
  margin-left:3%
}

pre {
  border:1px solid #ccc;
  box-shadow:3px 3px 3px #eee;
  font-family:monospace;
  margin:1.2em;
  padding:8pt
}

pre.src {
  overflow:auto;
  padding-top:1.2em;
  position:relative;
  font-size:90%
}

pre.src:before {
  background-color:#fff;
  border:1px solid #000;
  display:none;
  padding:3px;
  position:absolute;
  right:10px;
  top:.6em
}

pre.src:hover:before {
  display:inline
}

pre.src-sh:before {
  content:'sh'
}

pre.src-bash:before {
  content:'bash'
}

pre.src-emacs-lisp:before {
  content:'Emacs Lisp'
}

pre.src-R:before {
  content:'R'
}

pre.src-org:before {
  content:'Org'
}

pre.src-c+:before {
  content:'C++'
}

pre.src-c:before {
  content:'C'
}

pre.src-html:before {
  content:'HTML'
}

.inlinetask {
  background:#ffc;
  border:2px solid gray;
  margin:10px;
  padding:10px
}

#org-div-home-and-up {
  font-size:70%;
  text-align:right;
  white-space:nowrap
}

.linenr {
  font-size:smaller
}

.code-highlighted {
  background-color:#ff0
}

#bibliography {
  font-size:90%
}

#bibliographytable {
  width:100%
}

.creator {
  display:block
}

@media (min-width:1025px) {
  .creator {
    display:inline;
    float:right
  }
}

/* TOC inspired by http://jashkenas.github.com/coffee-script */
#table-of-contents {
  font-size: 10pt;
  position: fixed;
  right: 0em;
  top: 0em;
  background: white;
  line-height: 12pt;
  text-align: right;
  box-shadow: 0 0 1em #777777;
  -webkit-box-shadow: 0 0 1em #777777;
  -moz-box-shadow: 0 0 1em #777777;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  /* ensure doesn't flow off the screen when expanded */
  max-height: 80%;
  overflow: auto;
}

#table-of-contents h2 {
  font-size: 13pt;
  max-width: 9em;
  border: 0;
  font-weight: normal;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
}

#table-of-contents #text-table-of-contents {
  display: none;
  text-align: left;
}

#table-of-contents:hover #text-table-of-contents {
  display: block;
  padding: 0.5em;
  margin-top: -1.5em;
}
