neovim
neovim-remote
requests
setuptools
python-language-server
rope
jedi
json-rpc
sphinx
pytest
nose
numpy
scipy
scikit-learn
matplotlib
pandas
seaborn
plotly
ggplot
bokeh
sympy
pygments
tensorflow
ipython
ipdb
beautifulsoup4
lxml
html5lib
howdoi
virtualenv
virtualenvwrapper
yapf
pylint
autopep8
flake8
autoflake
ansible
fabric
sqlalchemy
jupyter
